extends layout

block content
    h1= title
    form#formNewPost(name="newpost",method="post",action="/submit")
        input#inputUserName(type="text", placeholder="username", name="username")
        
        input#inputUserPassword(type="password", placeholder="userpass", name="userpass")

        input#appToken(type="text", placeholder="id", name="id")

        input#appSecret(type="text", placeholder="secret", name="secret")

        input#postTitle(type="text", placeholder="title", name="title")

        input#postTextLink(type="text", placeholder="text/link", name="text")

        input#isLink(type="checkbox", name="isLink")
        = "is Link?"

        input#postSub(type="text", placeholder="subreddit name", name="subreddit")

        input#postTime(type="time", placeholder="", name="time")

        input#postDate(type="date", placeholder="", name="date")

        button#btnSubmit.btn.btn-default(type="submit") submit